
.ipynb_checkpoints/

__pycache__/
__marimo__/
src/nexus_sim/simulator/archive
.DS_Store
notebooks/protein_rna_test_data/
.idea/
.pytest_cache/
.ruff_cache/
.venv/
outputs/
src/nexus_sim/simulator/spatial/logs/
src/nexus_sim/simulator/spatial_vec/logs/
src/nexus_sim/simulator/grn/logs/

notebooks/testing_triangulation.py
*.egg-info/
pytestdebug.log